@media (max-width: 600px) {
    body {
        font-weight: bold;
    }
    header {
        justify-content: center;
    }
    .navigation-links-root-class-name12.navigation-links-nav {
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
        font-weight: bold;
    }
    
    .navigation-links-root-class-name12.navigation-links-nav span {
        margin: 0;
    }
    
    .home-header {
        flex-grow: 1;
        height: 190px;
        width: 587px;
        padding: 0;
        align-items: start;
    }
    
    .home-container01 {
        height: 100%;
        width: 100%;
        align-items: center;
    }
    
    .home-container02 {
        border: 2px dashed rgba(120, 120, 120, 0.4);
        width: 530px;     
        margin-top: 11px;
    }
    
    .blog-post-card3-blog-post-card {
        flex-direction: column;
    }
    
    .blog-post-card3-image {
        width: 523px;
    }
    
    .blog-post-card3-text1 {
        margin-top: 17.4px;
        margin-bottom: 32px;
    }
    
    .blog-post-card3-container {
        word-spacing: 2px;
    }
    
    div.blog-post-card3-container1 {
        margin-bottom: 33px;
        word-spacing: 1px;
    }
    
    .blog-post-card3-container {
        width: 523px;    
    }
    
    div.blog-post-card3-blog-post-card {
        
        align-items: center;
    }
    
    .blog-post-card3-text2 {
        word-spacing: 2px;
    }
    
    .blog-post-card3-text4 {
        word-spacing: 1px;
    }
    
    .home-stats {
        display:flex;
        gap: 30px;
        flex-wrap: wrap;
    }
    
    .home-stat {
        width:46%;
    }
    
    .home-container06,
    .home-container08 {
        flex-direction: column;
        width: 100%;
        flex-shrink: 0;
        gap: 32px;    
    }
    
    .home-container07 {
        align-items: center;
    }
    
    .home-text03 {
        text-align: center;
    }
    
    div div.home-container09 {
        padding:0;
        margin:0;
        flex-shrink: 0;
        flex-basis: initial;
        height: 422px;
        width: 457px;      
        max-width: none;
    }
    
    .home-text04 {
        margin-top: 38px;
    }
    
    .home-pricing {
        flex-shrink: 0;
    }
    
    .home-container06 {
        flex-shrink: 0;
        display:block;
        height: 1500px;
    }
    
    .home-pricing {
        display: block;
    }
    
    .home-container10 {
        height: 422px;
        width: 457px; 
        max-width: none;
    }
}

/* @media (max-width: 600px){

body {
font-weight: bold;
}

.blog-post-card3-blog-post-card {
flex-direction: column;
width: auto;
}

.blog-post-card3-image {
width: 100%;
}

.home-blog {
padding: 30px;
}

.home-stats {
display: flex;
flex-wrap: wrap;
padding: 30px;
gap: 35px;
justify-content: space-evenly;
}

.home-stat {
flex: 1 1 40%;
}

.home-container06 {
flex-direction: column;    
align-items: stretch;  
}

.home-container07 {
align-items: center;
gap: 20px;
}

.home-text03 {
text-align: center;
}

.home-container08 {
flex-direction: column;    
width: auto; 
align-items: initial;
gap: 20px;
}

.home-container09,
.home-container10 {
max-width: none;
margin: 0
}

.home-header {
justify-content: center;
height: auto;
}

.navigation-links-nav {
flex-direction: column;
gap: 15px;
align-items: flex-start;
}

.navigation-links-text1 {
margin: 0;
}

.home-nav {
padding: 0;
}

.home-container01 {
width:100%;     
}
} */