/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

.flex-container {
    border: 2px solid blue;
    padding: 1em;
    display: flex;
    width: 400px;
}

.flex-item {
    border: 2px solid #000;
    background: #eee;
    padding: 20px;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}