@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|PT+Serif:400,400i,700,700i&amp;display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

html {
    font: 14px/1.5 "PT Sans", sans-serif;
}

body, input, textarea, button {
    font: inherit;
}

h1 { font-size: 2.4em; }
h2 { font-size: 2em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }


/* Components */
.main-nav ul {
    display: flex;
}

.main-nav li {
    display: block;
    list-style: none;
}

.main-nav a {
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
}

.flex-columns {
    display: flex;
    justify-content: center;
}

.flex-columns.c2 > * {
    flex: 0 0 40%;
}

.flex-columns.c3 > * {
    flex: 0 0 30%;
}

/* Sections */

.section .wrapper {
    max-width: 700px;
    margin:0 auto;
}

.section .wrapper.wide  {
    max-width: 1920px;
}

.section-catalog header,
.section-about,
.section-banner {
    text-align: center;
}

.section-catalog header {
    padding-bottom: 1.5em;
}

.section-catalog .wrapper {
    padding: 1em 0 2em 0;
}

.section-catalog header h3 {
    font-size: 1.2em;
}

.section-catalog .flex-columns.c2 article {
    display: flex;
}

.section-catalog .flex-columns.c2 article h4 {
    font-size: 1em;
    text-align: center;
}

.section-catalog .flex-columns.c2 article > * {
    flex: 0 0 50%;
}

.section-catalog .flex-columns.c2 article .media  {
width: 360px;
height: 368px;
}

.section-catalog .flex-columns.c2 article .media img {
object-fit: cover;
object-position: -5px;
}

.section-catalog .flex-columns.c3 {
    gap: 3em;
}

.section-catalog .flex-columns.c3 img {
    box-shadow: 0 0 1em 0 rgb(0,0,0,0.4);
}

.site-header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-catalog {
    background: #60ACC1;
}

.section-footer {
    background: #1E1E1E;
    color: #ddd;
    text-align: center;
}

.site-footer .wrapper {
    padding: 1em;
}