.flex-container {
    border: 2px solid blue;
    padding: 1em;
    display: flex;
    width: 400px;
}

.flex-direction-row-reverse {
    flex-direction: row-reverse;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-column-reverse {
    flex-direction: column-reverse;
}

.flex-item {
    border: 2px solid #000;
    background: #eee;
    padding: 1em;
}