@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (User.Identity.IsAuthenticated)
{
    if (!User.IsInRole("Admin"))
    {
        <a asp-controller="Account" asp-action="MakeMeAdmin" class="btn btn-dark">Make me Admin!</a>
    }
    else
    {
        <div class="alert alert-success" role="alert">
            🎉 You are an admin now!
        </div>
    }
}
