@media (max-width: 600px) {
    
    header {
        justify-content: center;
    }
    .navigation-links-root-class-name12.navigation-links-nav {
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
font-weight: bold;
    }
    

    .navigation-links-root-class-name12.navigation-links-nav span {
margin: 0;
}

.home-header {
    padding: 0;
    display: block;
    height: 190px;
}

.home-container01 {

    display:block;
}

.home-container02 {
    border: 0;
  border-bottom: 3px dashed rgba(120, 120, 120, 0.4);
    width: 530px;
    margin: 0 auto;
display:block;
padding-top: 11px;
}

.blog-post-card3-blog-post-card {
    flex-direction: column;
}

.blog-post-card3-image {
    width: 523px;
}


.blog-post-card3-text1 {
    margin-top: 17.4px;
    margin-bottom: 32px;
}

.blog-post-card3-container {
    word-spacing: 2px;
}

div.blog-post-card3-container1 {
    margin-bottom: 33px;
    word-spacing: 0;
    width: 445px;
}

div.blog-post-card3-blog-post-card {
    margin-right: 33px;
    font-weight: bold;
}



}